.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio_item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.portfolio_item:hover {
  border-color: var(--color-primary-variant);
  background: rgb(87, 43, 249);
}

.portfolio_item-image {
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 0.5rem;
}

.portfolio_item h4 {
  margin: 1rem 1rem;
}

.portfolio_item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}


.btn-techStack {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.1em 0.5em;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  margin:1em 0;
  position:relative;
}

.btn-techStack:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.techStack-points{
  position: absolute;
  background-color:white;
  border-radius: 5px;
color: black;
  min-width: 300px;
  max-width: 50vw;
  margin-right: 1rem;
   margin-top: -0.5rem;
   z-index:999;
}

.techStack-points::before {
  content: " ";
  position: absolute;
  top: -3px;
  left: 71px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: rgb(252, 252, 253);
}

.noTechStack-points{
  display:none;
}

/* media query (medium device */
@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* media query (small device */
@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
